@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

*{
    /* 
    font-family: 'Martian Mono', monospace; 
    font-family: 'Roboto', sans-serif;
    */
    font-family: 'Poppins', sans-serif;
    font-weight: 400 !important;
}
body{
    background-color: #e2e2e2;
}

.flex{
    display: flex;
    flex-direction: row;
}


.titulo_cont{
    margin-left: auto;
}
.titulo_ferreteria{
    font-size: 20px;
    font-weight: 700 !important;
    color: #212529;
    float: right;
}
.logo{
    width: 40px;
    margin-left: 10px;
    float: right;
}


.fixTableHead {
    overflow-y: auto;
    height: 73vh ;
  }
  .fixTableHead table thead {
    position: sticky !important;
    top: 0;
  }
  table {
    border-collapse: collapse;        
  }

  .table{
    margin-bottom: 0px !important;
  }



.input_icon{
    background-color: #4a32c4 ;
    color: #fff !important;
}
.input-search .form-control::placeholder {
    color: rgba(255, 255, 255, 0.4);
    font-weight: 400;
}
.buscador{
    font-weight: 700 !important;
    background-color: #212529 !important;
}


.tabla_general{
    font-size: 14px !important;
}
.tabla_header{
    height: 50px;
    color: #715dd5 !important;
    font-weight: 700 !important;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}
.tabla_header tr td{
    font-weight: 700 !important;
    font-size: 16px;
}


.tabla_inputs{
    margin-top:5px;
}
td .form-control::placeholder {
    color: rgba(0, 0, 0, 0.4);
    font-weight: 400;
}

.limpiar_input{
    width: 50px;
}

.input_producto_td{

}
.input_precio_td{
    max-width: 100px !important;
}
.input_cantidad_td{
    max-width: 70px !important;
}


.nombre{
    font-weight: 700 !important;
}
.medida{
    font-weight: 400 !important;
}
.precio{
    font-weight: 700 !important;
    text-align: center;
    color: #9cc432 !important;

}

.td_producto{
    width: 200px;
}
.td_precio{
    width: 100px;
}
.td_cant{
    width: 20px;
}
.td_btn{
    width: 46px;
}

.btn_eliminar_tabla{
    border-radius: 100%;
    width: 35px;
    height: 35px;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
    border: 2px solid #dc3545;
    background-color: #fff;

    font-weight: 700 !important;
    text-align: center;
    color:#dc3545;

    transition: 0.3s;
}
.btn_eliminar_tabla:hover{
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.2);
    transform:scale(1.2);
}


#table-total{
    border: solid 1px #9a9a9a;
}
.tabla_header_total{
    background-color: #4a32c4 !important;
    height: 50px;
    color: #ffffff !important;
    font-weight: 700 !important;
    border-collapse: collapse;
    border-radius: 10px !important;
}

.table_precio_total{
    background-color: #32c470 !important;
}
.table_precio_total tr td{
    font-weight: 700 !important;
    font-size: 20px;
    color: #2C3034;
}


.table-total-nombre{
    font-weight: 400 !important;
    font-size: 14px;
    letter-spacing: -1px;
}
.table-total-precio{
    text-align: center;
    font-weight: 700 !important;
}
.subtotal-cell{
    font-size: 16px !important;
    background-color: #b3dec5 !important;
}


.descuento_cont{
    padding: 20px 0px 20px 0px;
}
.descuento_input{
    width: 40%;
    padding-right: 10px;
}
.descuento_button{
    width: 50%;
    font-size: 14px;
    font-weight: 700 !important;
    margin: 0px 10px 0px 10px;
}
.input-descuento{
    border: solid 1px rgba(0, 0, 0, 0.6);
}



.boton_añadir{
    background-color: #9cc432 !important;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.8);
    border: 1px solid rgba(255,255,255,0.8);
    color: #fff;
    font-weight: 400 !important;
    transition: 0.1s;
}
.boton_añadir:hover{
    box-shadow: 3px 3px 8px rgba(0,0,0,0.8);
    border: 1px solid rgba(255,255,255,0.8);
    transform: scale(1.05);
    background-color: #b5d55d !important;
}


.inputut-descuento{
    border: solid 1px #030303 !important;
}


.table-responsive-derecha{
    overflow: visible;
}


#guardar-venta{
    transition: 0.2s;
    background-color: #32c470;
    border: solid 1px #fff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
#guardar-venta:hover{
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.2);
    transform:scale(1.1);

}

.button-waiting {
    cursor: wait !important;
    opacity: 0.6;
    transition: opacity 3s ease-in-out;
  }




.venta_fecha{
    font-weight: 700 !important;
    font-size: 15px;
    letter-spacing: -1px;
}
.venta_comentarios{
    font-weight: 400 !important;
    font-size: 14px;
    letter-spacing: -1px;
}
.ventas-body{
    margin: 5px;
    padding: 10px;
    border:solid 1px rgba(0, 0, 0, 0.6);
    background-color: #fff;
}

.modal_cont{
    background-color: #111315;
}
.modal_title{
    color: #fff;
    font-weight: 700;
}



/* 

MORADO
#4a32c4 

NARANJA
#ffb026


.table-hover tbody tr:hover td {
    background: aqua;
}

*/


.shake-button {
    transition: 0.5s;
  }
  
  .shake-button:hover {
    animation: rotate 0.3s ease-in-out infinite;

  }
  
  @keyframes rotate {
    0% {
      transform: rotate(3deg);
    }
    50% {
      transform: rotate(-3deg);
    }
    100% {
      transform: rotate(3deg);
    }
  }